:root{
  --color-checked: #bee9e8;
  --color-bg: #1b4965; 
  --color-card: #62b6cb;
}

* {
  margin: 0;
    padding: 0;
}

label {
  color: #fff; 
}

body { 
    background-color: var(--color-bg);
  }

header {
  padding-block: 1rem;
  box-shadow: 0 0 2rem -1rem rgb(214, 221, 223);
  width: 1fr;
}

header > h1 {
  margin-block: 0;
  margin-inline: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
}