:root{
    --color-checked: #bee9e8;
    --color-bg: #1b4965; 
    --color-card-skills: #62b6cb;
    --color-card-sigils: #a8cffc;
  }

section.skill, section.weapon, section.skill-table, .sigil-card{
    background-color: var(--color-card-skills);
}

.character-info{
    background-color: var(--color-checked);

}


.sigil.img {
    width: 50px;
    height: 50px;
}


.level.selector {
    width: 60px;
}

.sigil.name{
    min-width: 240px;
}